In [1]:
!which python

/Users/nishant/PycharmProjects/pluralsight-mltakehome/venv/bin/python

In [4]:
import pandas as pd

In [5]:
course_tags_df = pd.read_csv('data/course_tags.csv')
user_assessment_scores_df = pd.read_csv('data/user_assessment_scores.csv')
user_course_views_df = pd.read_csv('data/user_course_views.csv')
user_interests_df = pd.read_csv('data/user_interests.csv')

In [18]:
course_tags_df.head()

                                        course_id       course_tags
0  12-principles-animation-toon-boom-harmony-1475      2d-animation
1              2d-racing-game-series-unity-5-1312       game-design
2             2d-racing-games-unity-volume-2-1286          game-art
3             2d-racing-games-unity-volume-2-1286  digital-painting
4             2d-racing-games-unity-volume-2-1286     image-editing

In [64]:
print(course_tags_df.shape)

(11337, 2)

In [20]:
user_assessment_scores_df.head()

   user_handle assessment_tag user_assessment_date  user_assessment_score
0         7487     angular-js  2017-08-11 19:03:38                    134
1         7487            css  2017-08-11 20:09:56                     38
2         7487          html5  2017-07-31 18:59:37                     84
3         7487           java  2017-07-31 18:49:27                    149
4         7487     javascript  2017-07-31 19:05:03                     92

In [21]:
print(user_assessment_scores_df.shape)

(6571, 4)

In [22]:
user_course_views_df.head()

,user_handle,view_date,course_id,author_handle,level,view_time_seconds
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098
2,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406
3,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553
4,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102

In [28]:
user_course_views_df[user_course_views_df.user_handle == 1]

,user_handle,view_date,course_id,author_handle,level,view_time_seconds
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098
2,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406
3,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553
4,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102
5,1,2017-09-12,aws-certified-sysops-admin-associate,281,Intermediate,83
6,1,2017-09-12,aws-system-admin-fundamentals,281,Beginner,2665
7,1,2017-10-16,react-js-getting-started,795,Beginner,3593

In [56]:
print(user_course_views_df.shape)

(249238, 6)

In [24]:
user_interests_df.head()

   user_handle      interest_tag        date_followed
0            1   mvc-scaffolding  2017-06-27 16:26:52
1            1              mvc2  2017-06-27 16:26:52
2            1  mvc-html-helpers  2017-06-27 16:26:52
3            1          mvc4-ioc  2017-06-27 16:26:52
4            1       mvc-testing  2017-06-27 16:26:52

In [25]:
print(user_interests_df.shape)

(297526, 3)

## Check for duplicates

In [12]:
print(course_tags_df.duplicated().sum())
print(user_assessment_scores_df.duplicated().sum())
print(user_course_views_df.duplicated().sum())
print(user_interests_df.duplicated().sum())

0
0
0
18209

In [17]:
user_interests_df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
297521    False
297522    False
297523    False
297524    False
297525    False
Length: 297526, dtype: bool

## Check for null values

In [33]:
print('Course tags')
print(course_tags_df.isnull().sum().sort_values(ascending=False))
print('\nUser assessment scores')
print(user_assessment_scores_df.isnull().sum().sort_values(ascending=False))
print('\nUser course views')
print(user_course_views_df.isnull().sum().sort_values(ascending=False))
print('\nUser interests')
print(user_interests_df.isnull().sum().sort_values(ascending=False))

Course tags
course_tags    112
course_id        0
dtype: int64

User assessment scores
user_handle              0
assessment_tag           0
user_assessment_date     0
user_assessment_score    0
dtype: int64

User course views
user_handle          0
view_date            0
course_id            0
author_handle        0
level                0
view_time_seconds    0
dtype: int64

User interests
user_handle      0
interest_tag     0
date_followed    0
dtype: int64

In [ ]:
# Join user_course_views and course_tags on course_id
# Get list of all the unique courses
# K-Nearest neighbors
# Cosine similarity

In [67]:
# get all unique course tags
len(course_tags_df.course_tags.unique())

999

In [38]:
# number of unique users
len(user_course_views_df.user_handle.unique())

8760

In [39]:
len(user_interests_df.user_handle.unique())

10000

In [62]:
# Join user_course_views and course_tags
course_views_tags_df = pd.merge(user_course_views_df, course_tags_df, how='outer', on='course_id')
len(course_views_tags_df)

476527

In [66]:
course_views_tags_df.head(20)

,user_handle,view_date,course_id,author_handle,level,view_time_seconds,course_tags
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786,sharepoint
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098,sharepoint
2,3963,2017-08-22,cpt-sp2010-web-designers-branding-intro,875,Beginner,1291,sharepoint
3,3963,2017-08-23,cpt-sp2010-web-designers-branding-intro,875,Beginner,2029,sharepoint
4,4532,2017-08-10,cpt-sp2010-web-designers-branding-intro,875,Beginner,4703,sharepoint
5,4532,2017-08-11,cpt-sp2010-web-designers-branding-intro,875,Beginner,497,sharepoint
6,4645,2017-07-15,cpt-sp2010-web-designers-branding-intro,875,Beginner,2513,sharepoint
7,4645,2017-07-16,cpt-sp2010-web-designers-branding-intro,875,Beginner,1525,sharepoint
8,5443,2017-05-24,cpt-sp2010-web-designers-branding-intro,875,Beginner,3013,sharepoint
9,5608,2017-07-10,cpt-sp2010-web-designers-branding-intro,875,Beginner,1065,sharepoint
10,5608,2017-07-12,cpt-sp2010-web-designers-branding-intro,875,Beginner,613,sharepoint
11,8067,2017-07-13,cpt-sp2010-web-designers-branding-intro,875,Beginner,106,sharepoint
12,8615,2017-06-05,cpt-sp2010-web-designers-branding-intro,875,Beginner,7,sharepoint
13,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406,sharepoint
14,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553,sharepoint
15,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102,cloud-computing
16,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102,cloud-services
17,13,2017-06-29,aws-certified-solutions-architect-professional,281,Advanced,4903,cloud-computing
18,13,2017-06-29,aws-certified-solutions-architect-professional,281,Advanced,4903,cloud-services
19,142,2017-08-10,aws-certified-solutions-architect-professional,281,Advanced,186,cloud-computing

In [59]:
len(course_views_tags_df[course_views_tags_df.isnull().any(axis=1)])

3344

In [72]:
course_views_tags_df[course_views_tags_df.duplicated()]

Empty DataFrame
Columns: [user_handle, view_date, course_id, author_handle, level, view_time_seconds, course_tags]
Index: []

In [60]:
course_views_tags_df[course_views_tags_df.isnull().any(axis=1)].head()

,user_handle,view_date,course_id,author_handle,level,view_time_seconds,course_tags
34367,6,2017-09-14,pmi-acp-introduction-agile-project-management-...,169,Intermediate,338,NaN
34368,6,2017-09-19,pmi-acp-introduction-agile-project-management-...,169,Intermediate,651,NaN
34369,6,2017-09-26,pmi-acp-introduction-agile-project-management-...,169,Intermediate,3457,NaN
34370,6,2017-09-29,pmi-acp-introduction-agile-project-management-...,169,Intermediate,8056,NaN
34371,271,2017-10-19,pmi-acp-introduction-agile-project-management-...,169,Intermediate,613,NaN

In [ ]:
user_course_views_tags_assessments = pd.concat([course_views_tags_df, ])