In [5]:
import pandas as pd
import numpy as np

In [2]:
course_tags_df = pd.read_csv('data/course_tags.csv')
user_assessment_scores_df = pd.read_csv('data/user_assessment_scores.csv')
user_course_views_df = pd.read_csv('data/user_course_views.csv')
user_interests_df = pd.read_csv('data/user_interests.csv')

In [39]:
len(user_assessment_scores_df.user_handle.unique())

3114

In [40]:
len(user_interests_df.user_handle.unique())

10000

In [95]:
sorted(user_interests_df.user_handle.unique())[-5:]

[9996, 9997, 9998, 9999, 10000]

In [4]:
course_tags_slice = course_tags_df[:10]

In [7]:
user_course_views_slice = user_course_views_df[:20]

In [9]:
user_course_views_slice.head()

,user_handle,view_date,course_id,author_handle,level,view_time_seconds
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098
2,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406
3,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553
4,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102

In [11]:
course_tags_slice.head()

                                        course_id       course_tags
0  12-principles-animation-toon-boom-harmony-1475      2d-animation
1              2d-racing-game-series-unity-5-1312       game-design
2             2d-racing-games-unity-volume-2-1286          game-art
3             2d-racing-games-unity-volume-2-1286  digital-painting
4             2d-racing-games-unity-volume-2-1286     image-editing

In [24]:
merged = pd.merge(user_course_views_df, course_tags_df, how='left')

In [25]:
merged

,user_handle,view_date,course_id,author_handle,level,view_time_seconds,course_tags
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786,sharepoint
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098,sharepoint
2,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406,sharepoint
3,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553,sharepoint
4,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102,cloud-computing
...,...,...,...,...,...,...,...
476522,9999,2017-10-13,python-getting-started,104,Beginner,2449,python
476523,9999,2017-10-14,python-getting-started,104,Beginner,1612,python
476524,10000,2017-08-18,apex-absolute-beginner-guide-coding-salesforce,229,Beginner,402,salesforce
476525,10000,2017-08-21,apex-absolute-beginner-guide-coding-salesforce,229,Beginner,9500,salesforce
476526,10000,2017-08-21,apex-fundamental-coding,229,Beginner,1659,salesforce

In [27]:
user_course_views_df.shape

(249238, 6)

In [28]:
course_tags_df.shape

(11337, 2)

In [30]:
len(user_course_views_df.course_id.unique())

5942

In [31]:
len(course_tags_df.course_id.unique())

5942

In [122]:
course_tags_df.course_tags.unique()[:5]

array(['2d-animation', 'game-design', 'game-art', 'digital-painting',
       'image-editing'], dtype=object)

In [32]:
user_interests_df[user_interests_df.duplicated()]

        user_handle          interest_tag        date_followed
279               7  information-security  2017-10-24 14:57:41
288               7  information-security  2017-10-24 15:00:00
292               7            sql-server  2017-10-24 15:00:00
303               9       cloud-computing  2017-11-06 16:55:35
355              12        app-deployment  2017-11-19 07:45:58
...             ...                   ...                  ...
297300         9988      network-security  2017-07-31 21:36:58
297309         9990    project-management  2017-07-03 07:47:32
297310         9990        design-and-art  2017-07-03 07:47:32
297317         9990            javascript  2017-07-03 07:47:32
297360         9993                python  2017-06-29 10:20:26

[18209 rows x 3 columns]

In [36]:
user_interests_df[(user_interests_df.user_handle == 7) & (user_interests_df.interest_tag == 'information-security')]

     user_handle          interest_tag        date_followed
272            7  information-security  2017-10-24 14:56:58
278            7  information-security  2017-10-24 14:57:41
279            7  information-security  2017-10-24 14:57:41
287            7  information-security  2017-10-24 15:00:00
288            7  information-security  2017-10-24 15:00:00

In [121]:
user_assessment_scores_df[user_assessment_scores_df.assessment_tag.str.len() > 4][:5]

   user_handle assessment_tag user_assessment_date  user_assessment_score
0         7487     angular-js  2017-08-11 19:03:38                    134
2         7487          html5  2017-07-31 18:59:37                     84
4         7487     javascript  2017-07-31 19:05:03                     92
5         7487         python  2017-07-31 19:11:04                    139
6         7407         python  2017-08-31 11:43:15                    206

In [53]:
user_course_views_df.level.unique()

array(['Beginner', 'Intermediate', 'Advanced'], dtype=object)

In [55]:
user_course_views_df.head()

,user_handle,view_date,course_id,author_handle,level,view_time_seconds
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098
2,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406
3,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553
4,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102

In [75]:
course_tags_df[course_tags_df.course_tags.str.len() > 40]

Empty DataFrame
Columns: [course_id, course_tags]
Index: []

In [67]:
course_tags_df.head()

                                        course_id       course_tags
0  12-principles-animation-toon-boom-harmony-1475      2d-animation
1              2d-racing-game-series-unity-5-1312       game-design
2             2d-racing-games-unity-volume-2-1286          game-art
3             2d-racing-games-unity-volume-2-1286  digital-painting
4             2d-racing-games-unity-volume-2-1286     image-editing

In [69]:
print(len(course_tags_df))
print(len(course_tags_df.course_id.unique()))

11337
5942

In [81]:
user_interests_df[user_interests_df.interest_tag.str.len() > 20]

        user_handle                 interest_tag        date_followed
11                1        javascript-frameworks  2017-06-27 16:26:52
49                1        azure-mobile-services  2017-06-27 16:26:52
60                1      test-driven-development  2017-06-27 16:26:52
62                1        business-intelligence  2017-06-27 16:26:52
81                1        javascript-frameworks  2017-06-27 16:27:34
...             ...                          ...                  ...
297421         9996        javascript-frameworks  2017-10-01 13:35:56
297451         9996        business-intelligence  2017-10-01 13:35:56
297452         9996  object-oriented-programming  2017-10-01 13:35:56
297453         9996        javascript-frameworks  2017-10-01 13:46:52
297505         9998        javascript-frameworks  2017-07-04 08:11:58

[28265 rows x 3 columns]

In [ ]:
# create new feature matrix
# 1 column per author handle
# 1 column per interest_tag
sorted(user_course_views_df.author_handle.unique())

In [125]:
user_interests_df.interest_tag.unique()[:10]

array(['mvc-scaffolding', 'mvc2', 'mvc-html-helpers', 'mvc4-ioc',
       'mvc-testing', 'mvc3', 'mvc5', 'mvc4', 'asp.net-mvc', 'mvc'],
      dtype=object)

In [110]:
user_interests_df[user_interests_df.user_handle == 1].interest_tag.unique()

array(['mvc-scaffolding', 'mvc2', 'mvc-html-helpers', 'mvc4-ioc',
       'mvc-testing', 'mvc3', 'mvc5', 'mvc4', 'asp.net-mvc', 'mvc',
       'angular', 'javascript-frameworks', 'javascript-libraries',
       'javascript', 'c#', 'java', 'asp.net', 'react.js', '.net',
       'asp.net-core', 'html5', 'ice-cream-sandwich', 'android', 'ef',
       'entity-framework', 'powershell', 'powershell-v3', 'sharepoint',
       'data-analysis', 'python', 'design-patterns', 'typescript',
       'nodejs', 'http', 'justmock', 'junit', 'unit-testing',
       'visual-c++', 'c++', 'cplusplus', 'cpp', 'spring-mvc', 'sprig',
       'spring', 'css', 'jquery', 'restful-api', 'rest', 'git',
       'azure-mobile-services', 'azure-deployment', 'azure',
       'microsoft-azure', 'windows-azure', 'ios8', 'ios7', 'ios', 'async',
       'xamarin', 'tdd', 'test-driven-development', 'architecture',
       'business-intelligence', 'aws-databases', 'aws', 'linq', 'sql',
       'software-practices', 'machine-learning', 'bootstrap'],
      dtype=object)

In [111]:
user_interests_df[(user_interests_df.user_handle == 1) & (user_interests_df.interest_tag == 'bootstrap')]

     user_handle interest_tag        date_followed
69             1    bootstrap  2017-06-27 16:26:52
139            1    bootstrap  2017-06-27 16:27:34

In [126]:
unique_users = user_interests_df.user_handle.unique()
interest_tags = user_interests_df.interest_tag.unique()
course_tags = user_course_views_df.course_id.unique()

In [127]:
course_tags[:5]

array(['cpt-sp2010-web-designers-branding-intro',
       'cpt-sp2010-web-designers-css',
       'aws-certified-solutions-architect-professional',
       'aws-certified-sysops-admin-associate',
       'aws-system-admin-fundamentals'], dtype=object)

In [128]:
user_feature_matrix = []

In [129]:
# turn each element into a column
# add interest tags as features
for user in unique_users:
    d = dict()
    d['user_handle'] = user
    user_interests = user_interests_df[user_interests_df.user_handle == user].interest_tag.unique()
    user_courses_taken = user_course_views_df[user_course_views_df.user_handle == user].course_id.unique()
    for col in interest_tags:
        if col in user_interests:
            d[col] = 1
        else:
            d[col] = 0
    for col in course_tags:
        if col in user_courses_taken:
            d[col] = 1
        else:
            d[col] = 0
    user_feature_matrix.append(d)

In [130]:
user_feature_matrix_df = pd.DataFrame(user_feature_matrix)

In [131]:
user_feature_matrix_df.head()

,user_handle,mvc-scaffolding,mvc2,mvc-html-helpers,mvc4-ioc,mvc-testing,mvc3,mvc5,mvc4,asp.net-mvc,...,dreamweaver-cc-building-fundamentals,introduction-fluid-containers-maya-226,intro-fluids-houdini-3602,azure-operational-insights-getting-started,topology-tools-zbrush-807,introduction-modeling-t-splines-rhino-5-1991,working-drawings-construction-documents-autocad-1534,mental-ray-workflows-maya-subsurface-scattering-3521,show-me-angular,traveling-loyalty-programs-best-practices
0,1,0,1,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,1,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [1]:
user_feature_matrix_df.shape

NameError: name 'user_feature_matrix_df' is not defined

In [133]:
user_feature_matrix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 6668 entries, user_handle to traveling-loyalty-programs-best-practices
dtypes: int64(6668)
memory usage: 508.7 MB

In [6]:
user_feature_matrix = pd.read_csv('data/user_feature_matrix.csv')

In [9]:
# save dataframe as hdf5 file
user_feature_matrix.to_hdf('user_feature_matrix.h5', mode='w', key='features')

In [7]:
user_feature_matrix.head()

,user_handle,mvc-scaffolding,mvc2,mvc-html-helpers,mvc4-ioc,mvc-testing,mvc3,mvc5,mvc4,asp.net-mvc,...,dreamweaver-cc-building-fundamentals,introduction-fluid-containers-maya-226,intro-fluids-houdini-3602,azure-operational-insights-getting-started,topology-tools-zbrush-807,introduction-modeling-t-splines-rhino-5-1991,working-drawings-construction-documents-autocad-1534,mental-ray-workflows-maya-subsurface-scattering-3521,show-me-angular,traveling-loyalty-programs-best-practices
0,1,0,1,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,1,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
user_feature_matrix.to_csv('user_feature_matrix.csv', index=False)

In [3]:
import dask.dataframe as dd