In [1]:
import pandas as pd

In [2]:
course_tags_df = pd.read_csv('data/course_tags.csv')
user_assessment_scores_df = pd.read_csv('data/user_assessment_scores.csv')
user_course_views_df = pd.read_csv('data/user_course_views.csv')
user_interests_df = pd.read_csv('data/user_interests.csv')

In [39]:
len(user_assessment_scores_df.user_handle.unique())

3114

In [40]:
len(user_interests_df.user_handle.unique())

10000

In [4]:
course_tags_slice = course_tags_df[:10]

In [7]:
user_course_views_slice = user_course_views_df[:20]

In [9]:
user_course_views_slice.head()

,user_handle,view_date,course_id,author_handle,level,view_time_seconds
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098
2,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406
3,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553
4,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102

In [11]:
course_tags_slice.head()

                                        course_id       course_tags
0  12-principles-animation-toon-boom-harmony-1475      2d-animation
1              2d-racing-game-series-unity-5-1312       game-design
2             2d-racing-games-unity-volume-2-1286          game-art
3             2d-racing-games-unity-volume-2-1286  digital-painting
4             2d-racing-games-unity-volume-2-1286     image-editing

In [24]:
merged = pd.merge(user_course_views_df, course_tags_df, how='left')

In [25]:
merged

,user_handle,view_date,course_id,author_handle,level,view_time_seconds,course_tags
0,1,2017-06-27,cpt-sp2010-web-designers-branding-intro,875,Beginner,3786,sharepoint
1,1,2017-06-28,cpt-sp2010-web-designers-branding-intro,875,Beginner,1098,sharepoint
2,1,2017-06-28,cpt-sp2010-web-designers-css,875,Intermediate,4406,sharepoint
3,1,2017-07-27,cpt-sp2010-web-designers-css,875,Intermediate,553,sharepoint
4,1,2017-09-12,aws-certified-solutions-architect-professional,281,Advanced,102,cloud-computing
...,...,...,...,...,...,...,...
476522,9999,2017-10-13,python-getting-started,104,Beginner,2449,python
476523,9999,2017-10-14,python-getting-started,104,Beginner,1612,python
476524,10000,2017-08-18,apex-absolute-beginner-guide-coding-salesforce,229,Beginner,402,salesforce
476525,10000,2017-08-21,apex-absolute-beginner-guide-coding-salesforce,229,Beginner,9500,salesforce
476526,10000,2017-08-21,apex-fundamental-coding,229,Beginner,1659,salesforce

In [27]:
user_course_views_df.shape

(249238, 6)

In [28]:
course_tags_df.shape

(11337, 2)

In [30]:
len(user_course_views_df.course_id.unique())

5942

In [31]:
len(course_tags_df.course_id.unique())

5942

In [32]:
user_interests_df[user_interests_df.duplicated()]

        user_handle          interest_tag        date_followed
279               7  information-security  2017-10-24 14:57:41
288               7  information-security  2017-10-24 15:00:00
292               7            sql-server  2017-10-24 15:00:00
303               9       cloud-computing  2017-11-06 16:55:35
355              12        app-deployment  2017-11-19 07:45:58
...             ...                   ...                  ...
297300         9988      network-security  2017-07-31 21:36:58
297309         9990    project-management  2017-07-03 07:47:32
297310         9990        design-and-art  2017-07-03 07:47:32
297317         9990            javascript  2017-07-03 07:47:32
297360         9993                python  2017-06-29 10:20:26

[18209 rows x 3 columns]

In [36]:
user_interests_df[(user_interests_df.user_handle == 7) & (user_interests_df.interest_tag == 'information-security')]

     user_handle          interest_tag        date_followed
272            7  information-security  2017-10-24 14:56:58
278            7  information-security  2017-10-24 14:57:41
279            7  information-security  2017-10-24 14:57:41
287            7  information-security  2017-10-24 15:00:00
288            7  information-security  2017-10-24 15:00:00